a,
a:link {
  text-decoration: 3px underline gold;
  /* color: inherit; */
}
a:visited {
  text-decoration-color: #aaa;
}
a:hover {
  text-decoration-color: #c33;
}
/* .header-items > nav h1 a {
  text-decoration: none;
} */