:root {
  --content-width: 42ch;
  --gutter-primary: var(--space-2xs);
  --gap-tiny: var(--space-2xs);
  scrollbar-gutter: stable both-edges;
}

body {
  display: block;
  margin: var(--gutter-primary);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration-thickness: 0.15em;
}

header {
  display: flex;
  gap: var(--space-s);
  align-items: baseline;
  margin-bottom: var(--space-m);
}

header > nav {
  display: flex;
  align-items: baseline;
  gap: var(--space-2xs);
}

main {
  display: block;
  width: min(var(--content-width), 100%);
  margin: 0 auto;
  padding: 0 0 var(--space-m);
}

p {
  display: block;
  margin-bottom: var(--space-xs);
}

blockquote {
  display: block;
  margin-left: var(--space-s);
  margin-bottom: var(--gutter-primary);
}

h1,
h2 {
  display: block;
  margin-bottom: var(--space-s);
}

img,
picture {
  display: block;
  height: auto;
}
