:root {
  scrollbar-gutter: stable both-edges;

  --content-width: 42ch;
  --gutter-primary: var(--space-2xs); 
}

body {
  margin: 0 var(--gutter-primary);
}

body > header {
  display: flex;
  gap: var(--space-s);
  align-items: baseline;
  margin-bottom: var(--space-l);
}
body > header > nav {
  display: flex;
  align-items: baseline;
  gap: var(--space-2xs);
}

main {
  padding:  0 0 var(--space-m) ; 
}

p {
  margin-bottom: var(--space-xs);
}

blockquote {
  margin: 0 0 var(--gutter-primary) var(--space-m);
}

h1,
h2 {
  margin-bottom: var(--space-s);
}
img, picture {
  height: auto;
}

section.text-block {
  width: min(var(--content-width), 100%);
  margin: 0 auto;
}