/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1800,36,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-xl&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.2584rem + 0.2703vw, 0.5625rem);
  --space-2xs: clamp(0.5625rem, 0.4409rem + 0.6081vw, 1.125rem);
  --space-xs: clamp(0.875rem, 0.6993rem + 0.8784vw, 1.6875rem);
  --space-s: clamp(1.125rem, 0.8818rem + 1.2162vw, 2.25rem);
  --space-m: clamp(1.6875rem, 1.3226rem + 1.8243vw, 3.375rem);
  --space-l: clamp(2.25rem, 1.7635rem + 2.4324vw, 4.5rem);
  --space-xl: clamp(3.375rem, 2.6453rem + 3.6486vw, 6.75rem);
  --space-2xl: clamp(4.5rem, 3.527rem + 4.8649vw, 9rem);
  --space-3xl: clamp(6.75rem, 5.2905rem + 7.2973vw, 13.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1368rem + 0.8784vw, 1.125rem);
  --space-2xs-xs: clamp(0.5625rem, 0.3193rem + 1.2162vw, 1.6875rem);
  --space-xs-s: clamp(0.875rem, 0.5777rem + 1.4865vw, 2.25rem);
  --space-s-m: clamp(1.125rem, 0.6385rem + 2.4324vw, 3.375rem);
  --space-m-l: clamp(1.6875rem, 1.0794rem + 3.0405vw, 4.5rem);
  --space-l-xl: clamp(2.25rem, 1.277rem + 4.8649vw, 6.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.1588rem + 6.0811vw, 9rem);
  --space-2xl-3xl: clamp(4.5rem, 2.5541rem + 9.7297vw, 13.5rem);

  /* Custom pairs */
  --space-s-xl: clamp(1.125rem, -0.0912rem + 6.0811vw, 6.75rem);
}