/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1800,36,1.2,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-xl&g=s,l,xl,12 */

:root {
  --step--3: clamp(0.7231rem, 0.598rem + 0.6257vw, 1.3019rem);
  --step--2: clamp(0.8681rem, 0.718rem + 0.7507vw, 1.5625rem);
  --step--1: clamp(1.0419rem, 0.8617rem + 0.9007vw, 1.875rem);
  --step-0: clamp(1.25rem, 1.0338rem + 1.0811vw, 2.25rem);
  --step-1: clamp(1.5rem, 1.2405rem + 1.2973vw, 2.7rem);
  --step-2: clamp(1.8rem, 1.4886rem + 1.5568vw, 3.24rem);
  --step-3: clamp(2.16rem, 1.7864rem + 1.8682vw, 3.8881rem);
  --step-4: clamp(2.5919rem, 2.1435rem + 2.2419vw, 4.6656rem);
  --step-5: clamp(3.1106rem, 2.5727rem + 2.6899vw, 5.5988rem);
}